*
{padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


/*[   Main HTMl attributes  ]*/
html{
  font-size: 62.50%;
}


/*Clear float issue*/
.clearfix:after{
  content:"";
  display:table;
  clear:both;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  background-color:rgba(214, 207, 207, 0.6)
}
/*[   Main HTMl attributes  ]*/

h1, h2{
  color: #5BAB1A;
}
h1 {
  font-size: 4rem;
  margin: 1rem 0rem 2rem 1rem;
}
h2{
  font-size: 2.5rem;
  margin-top:1rem;
  margin-bottom: 1rem;
}



.main-text{
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
}

/*[ Home page container  ]*/
.container{
  width: 114.0rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

/*[ Blog post content  ]*/
.blog-post{
  width: 75%;
  float: left;
  position: relative;
}

.blog-post img {
  height: 15rem;
  width: auto;
}



/*[ other post content  ]*/
.other-post{
  width: 25%;
  float: left;
}

.other{
  margin-bottom: 2rem;
}




/*[Author and other informations ]*/
.author-box {
  width: 20rem;
  height: 20rem;
  margin-top: 2rem;
  padding-top: 2rem;
  margin: 0 auto;
  border: 0.1rem solid #808080
}

.author-box img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-top: 1rem;
  margin-left: 4rem;
  float: left
}


#auther-text {
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-left: 4rem;;
  float: left;
}


.date{
  position:absolute;
  top: 3rem;
  right: 3rem;
}



/*[ Test ]*/

.blue-box,
.red-box,
.green-box{
  width: 20rem;
  height: 20rem;
  margin-bottom: 1rem;
}

.blue-box{
  background-color: #0000ff;
}

.red-box{
  background-color: #ff0000;
  float: right
}

.green-box{
  background-color: #00ff00;
}